section.platform
		
	article
		
		float: left
		text-align: center
		width: 20%

	.badge
		
		background-position: center
		background-repeat: no-repeat
		height: 100px
		width: 100%
	
	.academics .badge
		
		background-image: url(rsc/academics.png)
		background-image: url(data:image/svg+xml;base64,#{$academics}), none
	
	.campus .badge
		
		background-image: url(rsc/campus.png)
		background-image: url(data:image/svg+xml;base64,#{$campus}), none
	
	.community .badge
		
		background-image: url(rsc/community.png)
		background-image: url(data:image/svg+xml;base64,#{$community}), none
	
	.safety .badge
		
		background-image: url(rsc/safety.png)
		background-image: url(data:image/svg+xml;base64,#{$safety}), none
	
	.sga .badge
		
		background-image: url(rsc/sga.png)
		background-image: url(data:image/svg+xml;base64,#{$sga}), none