// This is the main Sass file, which imports styles for the individual sections
// of the page and includes some page-wide styles.


// Begin by importing the normalization, which should occur first, along with
// the variables that will be used in future imports.

@import normalize
@import variables

// Next, import the frameworks.

@import 'bourbon/bourbon'
@import 'neat/neat'

// Finally, import styles for the individual sections of the page.

@import about
@import platform
@import support


body

	background-color: $black
	background-attachment: fixed
	@include radial-gradient(lighten($black, 20%), $black, $fallback: $black)
	font-family: $typeface


section, .constraint

	@include outer-container


section

	margin-bottom: 4em
	margin-top: 2em


footer

	height: 200px


h2

	clear: both
	color: $gold
	font-size: 1.75em
	text-align: center
	text-shadow: 2px 1px black
	width: 100%


h3

	font-size: 1.5em
	margin-bottom: 0


a

	color: $blue

	&:active, &:focus, &:hover

		color: $black

	@include transition(color 0.5s)


.closeButton

	// This is a simple X to close the lightbox.

	cursor: pointer
	display: none
	height: 20px
	position: fixed
	width: 20px
	z-index: 11001


#lean_overlay

	background: #000
	display: none
	position: fixed
	top: 0px
	left: 0px
	height: 100%
	width: 100%
	z-index: 100



// Header Styles

header

	background-color: #FFF


.logo-container

	padding-left: 1em

	@include span-columns(4)
	@include clearfix

	@media screen and (max-width: 640px)

		float: none
		margin: auto
		padding: 0 0 1em 0
		width: 100%
		max-width: 300px


.logo

	background-image: url(data:image/svg+xml;base64,#{$logo}), none
	background-position: center
	background-repeat: no-repeat
	-webkit-background-size: 100%
	-o-background-size: 100%
	background-size: 100%
	height: 0
	line-height: 0
	margin-top: 10%
	padding-top: (1 / 1.4) * 100%
	text-indent: -9999px
	width: 100%

	// Darn IE 8
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='rsc/logo.png',sizingMethod='scale')


.socials

	a

		background-position: center bottom
		background-repeat: no-repeat
		float: left
		height: 40px
		margin-top: 10%
		padding: 0.5em
		position: relative
		width: 25%
		min-width: 32px

		// On hover, it's good to have some sort of movement.  Notice that the
		// hover state doesn't move the element itself, but only shifts the
		// background image up and down.  This way, you don't get awkward
		// points at which your mouse makes the element bounce back and forth.

		&:active, &:focus, &:hover

			background-position: center top

		@include transition(background-position 0.5s)

	// Browsers that can't handle SVGs also can't handle CSS3 multiple
	// backgrounds; they'll just ignore the second background-image property.

	.facebook

		background-image: url(rsc/facebook.png)
		background-image: url(data:image/svg+xml;base64,#{$facebook}), none

	.instagram

		background-image: url(rsc/instagram.png)
		background-image: url(data:image/svg+xml;base64,#{$instagram}), none

	.tumblr

		background-image: url(rsc/tumblr.png)
		background-image: url(data:image/svg+xml;base64,#{$tumblr}), none

	.twitter

		background-image: url(rsc/twitter.png)
		background-image: url(data:image/svg+xml;base64,#{$twitter}), none


.main-img-container

	@include span-columns(8)

	@media screen and (max-width: 640px)

		display: none


.main-img

	background: url(rsc/main.jpg) center no-repeat
	-webkit-background-size: 100%
	-o-background-size: 100%
	background-size: 100%
	height: 0
	padding-top: (400 / 724) * 100%


nav

	background-color: $gold
	@include linear-gradient(to bottom, $gold, darken($gold, 5%), $fallback: $gold)
	border-top: 1px solid darken($gold, 5%)
	border: 1px solid $gold
	text-align: center
	width: 100%


	ul

		padding: 0
		@include outer-container
		@include row (table)

		&.full

			display: block

			li
				display: inline-block
				width: 33%

		&.mobile

			display: none

			li
				display: block
				margin: 0.25em
				width: 100%

	li

		width: 33%

	a

		-webkit-border-radius: 4px
		border-radius: 4px
		color: $black
		font-size: 1.5em
		padding: 0.5em 1.5em 0.5em 0.75em
		position: relative
		text-decoration: none

		&:before

			content: "→ "
			padding: 0 0.5em 0 0

			@include transition (padding 0.5s)

		&:active, &:focus, &:hover

			background-color: darken($gold, 5%)

			&:before

				padding: 0 0 0 0.5em

		@include transition (background-color 0.5s)


		@media screen and (max-width: 750px)

			font-size: 1.25em

		@media screen and (max-width: 700px)

			font-size: 1em

	a.menu

		padding: 1em 0
		width: 100%

		&.full

			display: none

		&.mobile

			display: block