<!doctype html>
%html{:lang => "en"} 
	%head 
		%meta{:charset => "UTF-8"}/ 
		%meta{:name => "viewport", :content => "width=device-width,initial-scale=1"}/ 
		%title Jessica Luck 2014
		%link{:rel => "stylesheet", :href => "style.css"}/ 
		%script{:type => "text/javascript", :src => "main.min.js"}
		<script type="text/javascript" src="http://use.typekit.net/wok3thi.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	%body 
		.main
			%header
				.constraint
					.logo-container
						.logo Jessica and Luck 2014
					.main-img
				
				.nav-placeholder
				%nav
					%ul
						%li
							%a{:href => "#about"} About
							%i &raquo;
						%li
							%a{:href => "#platform"} Platform
							%i &raquo;
						%li
							%a{:href => "#support"} Support
							%i &raquo;

			%section.about#about

				%h2 About the Candidates
				%article.jessica

					.picture
						%img{:src => "rsc/jessica.jpg", :alt => "Jessica Gottsleben"}/
						%span.caption Jessica Gottsleben
					
					.links
						%h3 Jessica Gottsleben
						%h4 SGA Presidential Candidate
						%p Jessica is a Senior double-majoring in Radio and Television Broadcast Journalism and Political Science Pre-Law, with a certificate in Leadership Studies, in The Burnett Honors College.
						%a{:href => "#bio-jess", :class => "bio-link"} See Jessica's Biography
						%a{:href => "#involvement-jess", :class => "involvement-link"} See Jessica's Involvement

					.bio#bio-jess
						%p Jessica is a Senior double-majoring in Radio and Television Broadcast Journalism and Political Science Pre-Law, with a certificate in Leadership Studies, in The Burnett Honors College.  Her involvement at UCF ranges from her position as Student Director of Knightcast to her service on the University Fee Committee to assess the fees paid by students, as well as multiple other advisory boards.  UCF recently honored Jessica as a new inductee to the Order of Pegasus for her achievement, involvement, leadership, and service.
						%p As a non-Greek student, Jessica understands the underrepresentation many students feel from SGA leadership.  She believes in providing a platform for all Knights to have their voices heard and enjoy the best college experience possible, regardless of age, gender, sexuality, religion, ability, ethnicity, or hardship.
						%p Jessica has enough UCF Spirit to power the lights at the Bright House Networks Stadium for the next 50 years!  She wishes for every Knight to be represented in SGA and enjoy the great opportunities UCF has to offer.  She would be honored to have the chance to serve you and Revolutionize Knighthood here at UCF.

					.involvement#involvement-jess
						%h5 2013-2014 (Senior)
						%ul
							%li Order of Pegasus: Class of 2014 Inductee
							%li Elect Her: Campus Women Win: Conference Panelist
							%li Knightcast: Student Director; Radio Show Host of “Hakuna Matata”
							%li University Fee Committee
							%li Honors Congress: Vice President 
							%li Knight-Thon Morale
							%li KNIGHTMARE Advisory Board
							%li Knight Camp: Camp Counselor
							%li Library Student Advisory Board
							%li The Burnett Honors College Peer Ambassador
							%li Radio Television Digital News Association (RTDNA)
							%li 4EVER KNIGHTS Student Alumni Association
							%li National Conference for College Women Student Leaders 2013
							%li UNESCO Delegate 2013 Environmental Policy Formulation and Planning Conference on Climate Change for the Caribbean
							%li Host of Behind the Scenes with Adam West
							%li Office of Undergraduate Research Student Presenter: “Implementing Climate Change Education for Sustainable Development through Capacity Building, Agribusiness Curriculum, and Intergenerational Equity”
							%li NorthStar Student Leader Panelist
							%li Achieve a College Education Program ACE Day: Team Captain, Speaker 
							%li VolunteerUCF Knights Give Back Site Leader: Clean the World Foundation, Inc. 
							%li U Can Finish: Race Volunteer
							%li Mary Helen Callarman 5K Volunteer
							%li Page Private School Science Fair Judge

						%h5 2012-2013 (Junior)
						%ul 
							%li Knightcast Student Director
							%li UCF Student Government Association Election Commissioner
							%li Equal at UCF Treasurer
							%li Knight-Thon Morale
							%li The Burnett Honors College Peer Ambassador
							%li Knight Camp Camp Counselor
							%li
								Honors Congress
								%ul 
									%li Vice President 
									%li Director of Housing Affairs
							%li KNIGHTMARE Advisory Board 
							%li President’s Scholars Program 2012
							%li Who’s Who Among Students 2013
							%li Pride Undergraduate Student Leadership Award 2013: Pride Faculty Staff Association
							%li Honors Student Philanthropy Council
							%li Orion Area Council
							%li Library Student Advisory Board
							%li Campus Activities Board (CAB) Concerts Committee
							%li LEAD Student Alumni Council  Mentor
							%li Society of Professional Journalists  
							%li National Broadcasting Society
							%li The Radio Television Digital News Association (RTDNA)
							%li 4EVER KNIGHTS Student Alumni Association
							%li Knights of the Round Table NorthStar Summit Leadership Conference
							%li Florida Collegiate Pride Coalition 
							%li Honors Student Philanthropy Council
							%li Allyn M. Stearman Scholar 
							%li Walter Komanski Scholarship
							%li SGA’s X-Treme Leadership Scholarship
							%li Collegiate Presidential Inaugural Conference 2013
							%li Radio Television Digital News Association: Excellence in Journalism Reporter
							%li UCF President’s Honor Roll 
							%li Service-Learning Capacity Building Scholarship 
							%li Service-Learning The Burnett Honors College Scholarship
							%li Campus Movie Fest Judge
							%li Florida Collegiate Pride Coalition Conference 2013
							%li Golden Key International Honour Society          
							%li UCF Office of Experiential Learning Service Learning Showcase 2013
							%li Achieve a College Education Program ACE Day: Team Captain, Speaker 
							%li VolunteerUCF Knights Give Back Site Leader: Clean the World Foundation, Inc. 
							%li Pegasus Palooza Volunteer
							%li Senior Giving Campaign
							%li HERO Honors Educational Reach Out Pet Rescue by Judy Volunteer

						%h5 2011-2012 (Sophomore)
						%ul 
							%li Knightcast 
							%li Marketing Coordinator
							%li Host of “That’s What She Said”
							%li UCF Student Government Association Election Commissioner
							%li UCF Undergraduate Studies Advisory Board 
							%li UCF LEAD Scholars Program Assistantship
							%li The Burnett Honors College Peer Ambassador
							%li UCF Student Disability Services Notetaker
							%li
								Honors Congress 
								%ul 
									%li Director of Housing Affairs
									%li Homecoming Director 
							%li Lead Out Loud 
							%li Harry Potter Home Entertainment Celebration Reporter for the 2011 Red Carpet Weekend at Universal Studios
							%li LEAD Scholar
							%li UCF Dean’s List 
							%li Student Government Association Campus Involvement Scholarship
							%li Southern Regional Honors Council 2012 
							%li Lead Out Loud “Powerful Beyond  Measure” 4th Annual Multicultural Student Leadership Summit 2012
							%li NorthStar Summit Leadership Conference
							%li The Honor Society of Phi Kappa Phi  (Inductee)
							%li Omicron Delta Kappa National Leadership Honor Society (Inductee)
							%li Pi Sigma Alpha: Political Science National Honor Society (Inductee)
							%li UCF Leadership Week
							%li National Residence Hall Honorary (Inductee)
							%li UCF Office of Experiential Learning Service Learning Showcase 2012
							%li The Radio Television Digital News Association (RTDNA)
							%li Rowdy Knights
							%li 4EVER KNIGHTS Student Alumni Association
							%li Achieve a College Education Program ACE Day: Bus Captain, Speaker 
							%li Senior Giving Campaign Coordinator
							%li UNA-USA Greater Orlando
							%li Honors Student Philanthropy Council
							%li Diversity Week Presenter
							%li HERO Honors Educational Reach Out Pet Rescue by Judy Volunteer

						%h5 2010-2011 (Freshman)
						%ul 
							%li Knightcast Radio Show Host of “That’s What She Said”
							%li The Burnett Honors College Peer Ambassador
							%li LEAD Scholars
							%li EQUAL at UCF Member
							%li
								Honors Congress 
								%ul 
									%li Director of Housing Affairs
									%li Homecoming Skit Choreographer  
							%li 4EVER KNIGHTS Student Alumni Association
							%li VolunteerUCF Knights Give Back: Harvest Time International       
							%li G.I. Theta Chi 2011               
							%li Junior Achievement Teacher/Mentor        
							%li Green HERO: Green-Up Orlando      
							%li HERO Honors Educational Reach Out Pet Rescue by Judy Volunteer
							%li UCF First Year Academic Scholar
							%li National Society of Collegiate Scholars  (Inductee)
							%li Phi Eta Sigma National Honor Society (Inductee)
							%li Delta Epsilon Iota Academic Honor Society (Inductee)
							%li Florida Academic Scholar Award
							%li Pegasus Gold Scholarship
							%li UCF Dean’s List 
							%li Equal’s Gayla Prom Court
							%li Honors Congress Distinguished Member (2010-2013)

				%article.luck

					.picture
						%img{:src => "rsc/luck.jpg", :alt => "Lucdwin Luck"}/
						%span.caption Lucdwin Luck
					
					.links
						%h3 Lucdwin Luck
						%h4 SGA Vice Presidential Candidate
						%p Luck is a Political Science major with minors in Business, Economic Policy, and Sociology. He transferred to UCF in the Fall of 2012 from Seminole State College of Florida.
						%a{:href => "#bio-luck", :class => "bio-link"} See Luck's Biography
						%a{:href => "#involvement-luck", :class => "involvement-link"} See Luck's Involvement

					.bio#bio-luck
						%p Luck is a Political Science major with minors in Business, Economic Policy, and Sociology. He transferred to UCF in the Fall of 2012 from Seminole State College of Florida. His experience ranges from SGA leadership to the Mr. UCF Scholarship Pageant, and his passion for UCF has grown significantly. After serving for six years in the United States Marine Corps, he has gained a wealth of world and life experience. He is eager to share his experience, knowledge, and passion to cultivate a sense of community between all of the unique groups that make UCF so great.
						%p After serving in the military, Luck has the integrity and commitment to serve the student body with competence and excellence. He believes honesty is the best policy and transparency is important for our community.
						%p Luck’s passion in serving others is founded on the core values of the United States Marine Corps: Honor, Courage, and Commitment. To him, leadership is not just about one person leading others to a common interest, but also encouraging leadership in others to cultivate creativity in our community - because UCF starts with YOU!

					.involvement#involvement-luck
						%h5 2013-2014 (Senior)
						%ul
							%li Peer Mentor at Transfer and Transitions Services
							%li Transfer Knights: Member
							%li Secretary of Student Veterans of America
							%li Mr. UCF 1st Runner Up

						%h5 2012-2013 (Junior)
						%ul 
							%li Student Government Association Student Senator
							%li Theta Chi Fraternity Brother
							%li Phi Alpha Delta Pre-law Fraternity Brother
							%li Student Assistant at Veterans Academic Resource Center

						%h5 2011-2012 (Seminole State College of Florida)
						%ul 
							%li President of Phi Beta Lambda
							%li Chair of Seminole State College of Florida Veterans Day Ceremony Committee

						%h5 2008-2010 Marine Coprps Embassy Security Guard
						%ul
							%li 
								%h5 Primary Duties
								%ul 
									%li Provided Diplomatic Security at the US Embassy in Damascus, Syria (2008)
									%li Provided Diplomatic Security at the US Embassy in Brasilia, Brazil (2009)
									%li Provided Diplomatic Security at the US Embassy in Montevideo, Uruguay (April, 2009)
									%li Provided Diplomatic Security at the American Consulate in Jerusalem (2010)
							%li 
								%h5 Collateral Duties
								%ul 
									%li Morale, Welfare, Recreation Non-Commissioned Officer (Syria)
									%li Assistant Detachment Commander (Brazil)
									%li Training Non-Commissioned Officer (Brazil)
									%li Safety Non-Commissioned Officer (Brazil)
									%li Vehicle and Transportation Non-Commissioned Officer (Jerusalem)
									%li Morale, Welfare, Recreation Non-Commissioned Officer (Jerusalem)

						%h5 2005-2007 United States Marine Corps
						%ul
							%li 1st Duty Station: Marine Corps Air Station Futenma Okinawa, Japan
							%li
								%p Aviation Ordnance Technician
								%ul 
									%li Ensured all weapon equipment on aircraft were inspected and maintained properly
							%li 
								%p Material/Maintenance Controller
								%ul 
									%li Maintained records for parts and materials in value of over $100, 000,000.00 US Dollars
									%li Ordered and supplied parts and materials for over 30 aircrafts in the unit
							%li 
								%p Platoon Sergeant
								%ul 
									%li Supervised over 60 Marines to ensuring their training, wellbeing, and morale
							%li 
								%p Deployed on Joint Exercise Foal Eagle Joint with ROK Marines of South Korea
							%li 
								%p Deployed on 31st Marine Expeditionary Unit to the Philippines and Australia



			%section.platform#platform

				%h2 Your Platform

				%article.campus
					.badge
					%p Campus Engagement

				%article.safety 
					.badge 
					%p Safety

				%article.academics 
					.badge
					%p Academics

				%article.community 
					.badge 
					%p Community

				%article.sga 
					.badge 
					%p SGA

				%form{:action => ""} 

			%section.support#support

				%h2 Support Jessica and Luck

				%form{:action => ""}

					%fieldset.basic
						%p
							%label{:for => "support-form-name"} Your Name <span>*</span>
							%br/ 
							%input{:type => "text", :name => "support-form-name", :id => "support-form-name"}/
						%p
							%label{:for => "support-form-org"} Organization / Affiliation
							%br/ 
							%input{:type => "text", :name => "support-form-org", :id => "support-form-org"}/
						%p
							%label{:for => "support-form-email"} Your E-mail Address <span>*</span>
							%br/ 
							%input{:type => "email", :name => "support-form-email", :id => "support-form-email"}/
						%p
							%input{:type => "checkbox", :name => "support-form-more", :id => "support-form-more", :value => "Yes"}/
							%label{:for => "support-form-more"} Yes! I'd like to get more involved with the campaign.

					%fieldset.more
						%p
							%label{:for => "support-form-how"}
							%input{:type => "text"}/

					%fieldset.submit
						%p 
							%input{:type => "submit", :name => "support-form-submit", :id => "support-form-submit", :value => "Support!"}/ 


			%footer
				.closeButton X