<!doctype html>
%html{:lang => "en"} 
	%head 
		%meta{:charset => "UTF-8"}/ 
		%meta{:name => "viewport", :content => "width=device-width,initial-scale=1"}/ 
		%title Jessica Luck 2014
		%link{:rel => "stylesheet", :href => "style.css"}/ 
		%script{:type => "text/javascript", :src => "main.min.js"}

	%body 
		.main
			%header 
				.logo

			%section.about 
				%article.jessica 
				%article.luck 

			%section.platform 
				%article.campus 
				%article.safety 
				%article.academics 
				%article.community 
				%article.sga 

			%section.support 
				%form{:action => ""} 
			%footer 