<!doctype html>
%html{:lang => "en"} 
	%head 
		%meta{:charset => "UTF-8"}/ 
		%meta{:name => "viewport", :content => "width=device-width,initial-scale=1"}/ 
		%title Jessica Luck 2014
		%link{:rel => "stylesheet", :href => "style.css"}/ 
		%script{:type => "text/javascript", :src => "main.min.js"}
		<script type="text/javascript" src="http://use.typekit.net/wok3thi.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	%body 
		.main
			%header
				.constraint
					.logo-container
						.logo Jessica and Luck 2014

				%nav
					%ul.constraint
						%li
							%a{:href => "#about"} About the Candidates
							%i &raquo;
						%li
							%a{:href => "#platform"} Your Platform
							%i &raquo;
						%li
							%a{:href => "#support"} Support Us
							%i &raquo;

			%section.about 
				%article.jessica
					.bio
						%p.picture
							%img{:src => "rsc/jessica.jpg", :alt => "Jessica Gottsleben"}/ 
							%span.caption Jessica Gottsleben
						%p Jessica is a Senior double-majoring in Radio and Television Broadcast Journalism and Political Science Pre-Law, with a certificate in Leadership Studies, in The Burnett Honors College.  Her involvement at UCF ranges from her position as Student Director of Knightcast to her service on the University Fee Committee to assess the fees paid by students, as well as multiple other advisory boards.  UCF recently honored Jessica as a new inductee to the Order of Pegasus for her achievement, involvement, leadership, and service.
						%p As a non-Greek student, Jessica understands the underrepresentation many students feel from SGA leadership.  She believes in providing a platform for all Knights to have their voices heard and enjoy the best college experience possible, regardless of age, gender, sexuality, religion, ability, ethnicity, or hardship.
						%p Jessica has enough UCF Spirit to power the lights at the Bright House Networks Stadium for the next 50 years!  She wishes for every Knight to be represented in SGA and enjoy the great opportunities UCF has to offer.  She would be honored to have the chance to serve you and Revolutionize Knighthood here at UCF.
					
					%h3
						%a{:href => "#involvement-jess", :class => "involvement-link"} See Jessica's Involvement

					.involvement#involvement-jess
						%h3 Year
						%ul
							%li Item 1
							%li Item 2

				%article.luck
					.bio
						%p.picture
							%img{:src => "rsc/luck.jpg", :alt => "Lucdwin Luck"}/
							%span.caption Lucdwin Luck
						%p Luck is a Political Science major with minors in Business, Economic Policy, and Sociology. He transferred to UCF in the Fall of 2012 from Seminole State College of Florida. His experience ranges from SGA leadership to the Mr. UCF Scholarship Pageant, and his passion for UCF has grown significantly. After serving for six years in the United States Marine Corps, he has gained a wealth of world and life experience. He is eager to share his experience, knowledge, and passion to cultivate a sense of community between all of the unique groups that make UCF so great.
						%p After serving in the military, Luck has the integrity and commitment to serve the student body with competence and excellence. He believes honesty is the best policy and transparency is important for our community.
						%p Luck’s passion in serving others is founded on the core values of the United States Marine Corps: Honor, Courage, and Commitment. To him, leadership is not just about one person leading others to a common interest, but also encouraging leadership in others to cultivate creativity in our community - because UCF starts with YOU!
					
					%h3
						%a{:href => "#involvement-luck", :class => "involvement-link"} See Luck's Involvement

					.involvement#involvement-luck
						.closeButton X
						%h4 2013-2014 (Senior)
						%ul
							%li Peer Mentor at Transfer and Transitions Services
							%li Transfer Knights: Member
							%li Secretary of Student Veterans of America
							%li Mr. UCF 1st Runner Up

						%h4 2012-2013 (Junior)
						%ul 
							%li Student Government Association Student Senator
							%li Theta Chi Fraternity Brother
							%li Phi Alpha Delta Pre-law Fraternity Brother
							%li Student Assistant at Veterans Academic Resource Center

						%h4 2011-2012 (Seminole State College of Florida)
						%ul 
							%li President of Phi Beta Lambda
							%li Chair of Seminole State College of Florida Veterans Day Ceremony Committee
						%h4 2013-2014 (Senior)
						%ul
							%li Peer Mentor at Transfer and Transitions Services
							%li Transfer Knights: Member
							%li Secretary of Student Veterans of America
							%li Mr. UCF 1st Runner Up

						%h4 2012-2013 (Junior)
						%ul 
							%li Student Government Association Student Senator
							%li Theta Chi Fraternity Brother
							%li Phi Alpha Delta Pre-law Fraternity Brother
							%li Student Assistant at Veterans Academic Resource Center

						%h4 2011-2012 (Seminole State College of Florida)
						%ul 
							%li President of Phi Beta Lambda
							%li Chair of Seminole State College of Florida Veterans Day Ceremony Committee
						%h4 2013-2014 (Senior)
						%ul
							%li Peer Mentor at Transfer and Transitions Services
							%li Transfer Knights: Member
							%li Secretary of Student Veterans of America
							%li Mr. UCF 1st Runner Up

						%h4 2012-2013 (Junior)
						%ul 
							%li Student Government Association Student Senator
							%li Theta Chi Fraternity Brother
							%li Phi Alpha Delta Pre-law Fraternity Brother
							%li Student Assistant at Veterans Academic Resource Center

						%h4 2011-2012 (Seminole State College of Florida)
						%ul 
							%li President of Phi Beta Lambda
							%li Chair of Seminole State College of Florida Veterans Day Ceremony Committee



			%section.platform 
				%article.campus 
				%article.safety 
				%article.academics 
				%article.community 
				%article.sga 

			%section.support 
				%form{:action => ""} 
			%footer