<!doctype html>
%html{:lang => "en"} 
	%head 
		%meta{:charset => "UTF-8"}/ 
		%meta{:name => "viewport", :content => "width=device-width,initial-scale=1"}/ 
		%title Jessica Luck 2014
		<!--[if lt IE 9]>
		%script{:type => "text/javascript", :src => "ie.js"}
		<![endif]-->
		%link{:rel => "stylesheet", :href => "style.css"}/ 
		%script{:type => "text/javascript", :src => "main.min.js"}
		<script type="text/javascript" src="http://use.typekit.net/wok3thi.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	%body 
		.main
			%header
				.constraint
					.logo-container
						.logo Jessica and Luck 2014
						.socials
							%a.facebook{:href => "http://www.facebook.com/JessicaLuck2014"}
							%a.twitter{:href => "http://twitter.com/jessicaluck2014"} 
							%a.instagram{:href => "http://instagram.com/jessicaluck2014"} 
							%a.tumblr{:href => "http://jessicaluck2014.tumblr.com/"} 
					.main-img-container
						.main-img
				
				.nav-placeholder
				%nav
					%a.menu.full{:href => "#"} Menu
					%ul
						%li
							%a{:href => "#about"} About
						%li
							%a{:href => "#platform"} Platform
						%li
							%a{:href => "#support"} Support

			%section.about#about

				%h2 About the Candidates
				%article.jessica

					.picture
						%img{:src => "rsc/jessica.jpg", :alt => "Jessica Gottsleben"}/
						%span.caption Jessica Gottsleben
					
					.links
						%h3 Jessica Gottsleben
						%h4 SGA Presidential Candidate
						%p Jessica is a Senior double-majoring in Radio and Television Broadcast Journalism and Political Science Pre-Law, with a minor in Public Administration and certificate in Leadership Studies, in The Burnett Honors College.
						%a{:href => "#bio-jess", :class => "bio-link"} See Jessica's Biography
						%a{:href => "#involvement-jess", :class => "involvement-link"} See Jessica's Involvement

					.bio#bio-jess
						%p Jessica is a Senior double-majoring in Radio and Television Broadcast Journalism and Political Science Pre-Law, with a minor in Public Administration and certificate in Leadership Studies, in The Burnett Honors College. Her involvement at UCF ranges from her position as Student Director of Knightcast to her service on the University Fee Committee to assess all fees paid by students for recommendation to the Board of Trustees, as well as multiple other department advisory boards and University-wide organizations. UCF recently honored Jessica as a new inductee to the Order of Pegasus for her achievement, dedication, leadership, and service to the UCF community. As a non-Greek affiliated student, she understands the disconnect many students feel from SGA leadership. 
						%p She believes in providing a platform for all Knights, of every age, identity, sexuality, religion, ability, ethnicity or affiliation, to have their voices heard and enjoy the best college experience possible. Jessica has enough UCF Spirit to power the lights at the Bright House Networks Stadium for the next 50 years! She cries, sweats and bleeds Black and Gold. Jessica wishes for every Knight from every campus to be represented in SGA and enjoy the great opportunities UCF has to offer. Her integrity is second to none through her transparent servant leadership. She would be honored and humbled to have the opportunity to serve you and Revolutionize Knighthood here at UCF!

					.involvement#involvement-jess
						%h5 2013-2014 (Senior)
						%ul
							%li Order of Pegasus: Class of 2014 Inductee
							%li Elect Her: Campus Women Win: Conference Panelist
							%li Knightcast: Student Director; Radio Show Host of “Hakuna Matata”
							%li University Fee Committee
							%li Honors Congress: Vice President 
							%li Knight-Thon Morale
							%li KNIGHTMARE Advisory Board
							%li Knight Camp: Camp Counselor
							%li Library Student Advisory Board
							%li The Burnett Honors College Peer Ambassador
							%li Radio Television Digital News Association (RTDNA)
							%li 4EVER KNIGHTS Student Alumni Association
							%li National Conference for College Women Student Leaders 2013
							%li UNESCO Delegate 2013 Environmental Policy Formulation and Planning Conference on Climate Change for the Caribbean
							%li Host of Behind the Scenes with Adam West
							%li Office of Undergraduate Research Student Presenter: “Implementing Climate Change Education for Sustainable Development through Capacity Building, Agribusiness Curriculum, and Intergenerational Equity”
							%li NorthStar Student Leader Panelist
							%li Achieve a College Education Program ACE Day: Team Captain, Speaker 
							%li VolunteerUCF Knights Give Back Site Leader: Clean the World Foundation, Inc. 
							%li U Can Finish: Race Volunteer
							%li Mary Helen Callarman 5K Volunteer
							%li Page Private School Science Fair Judge

						%h5 2012-2013 (Junior)
						%ul 
							%li Knightcast Student Director
							%li UCF Student Government Association Election Commissioner
							%li Equal at UCF Treasurer
							%li Knight-Thon Morale
							%li The Burnett Honors College Peer Ambassador
							%li Knight Camp Camp Counselor
							%li
								Honors Congress
								%ul 
									%li Vice President 
									%li Director of Housing Affairs
							%li KNIGHTMARE Advisory Board 
							%li President’s Scholars Program 2012
							%li Who’s Who Among Students 2013
							%li Pride Undergraduate Student Leadership Award 2013: Pride Faculty Staff Association
							%li Honors Student Philanthropy Council
							%li Orion Area Council
							%li Library Student Advisory Board
							%li Campus Activities Board (CAB) Concerts Committee
							%li LEAD Student Alumni Council  Mentor
							%li Society of Professional Journalists  
							%li National Broadcasting Society
							%li The Radio Television Digital News Association (RTDNA)
							%li 4EVER KNIGHTS Student Alumni Association
							%li Knights of the Round Table NorthStar Summit Leadership Conference
							%li Florida Collegiate Pride Coalition 
							%li Allyn M. Stearman Scholar 
							%li Walter Komanski Scholarship
							%li SGA’s X-Treme Leadership Scholarship
							%li Collegiate Presidential Inaugural Conference 2013
							%li Radio Television Digital News Association: Excellence in Journalism Reporter
							%li UCF President’s Honor Roll 
							%li Service-Learning Capacity Building Scholarship 
							%li Service-Learning The Burnett Honors College Scholarship
							%li Campus Movie Fest Judge
							%li Florida Collegiate Pride Coalition Conference 2013
							%li Golden Key International Honour Society          
							%li UCF Office of Experiential Learning Service Learning Showcase 2013
							%li Achieve a College Education Program ACE Day: Team Captain, Speaker 
							%li VolunteerUCF Knights Give Back Site Leader: Clean the World Foundation, Inc. 
							%li Pegasus Palooza Volunteer
							%li Senior Giving Campaign
							%li HERO Honors Educational Reach Out Pet Rescue by Judy Volunteer

						%h5 2011-2012 (Sophomore)
						%ul 
							%li
								Knightcast 
								%ul 
									%li Marketing Coordinator
									%li Host of “That’s What She Said”
							%li UCF Student Government Association Election Commissioner
							%li UCF Undergraduate Studies Advisory Board 
							%li UCF LEAD Scholars Program Assistantship
							%li The Burnett Honors College Peer Ambassador
							%li UCF Student Disability Services Notetaker
							%li
								Honors Congress 
								%ul 
									%li Director of Housing Affairs
									%li Homecoming Director 
							%li Lead Out Loud 
							%li Harry Potter Home Entertainment Celebration Reporter for the 2011 Red Carpet Weekend at Universal Studios
							%li LEAD Scholar
							%li UCF Dean’s List 
							%li Student Government Association Campus Involvement Scholarship
							%li Southern Regional Honors Council 2012 
							%li Lead Out Loud “Powerful Beyond  Measure” 4th Annual Multicultural Student Leadership Summit 2012
							%li NorthStar Summit Leadership Conference
							%li The Honor Society of Phi Kappa Phi  (Inductee)
							%li Omicron Delta Kappa National Leadership Honor Society (Inductee)
							%li Pi Sigma Alpha: Political Science National Honor Society (Inductee)
							%li UCF Leadership Week
							%li National Residence Hall Honorary (Inductee)
							%li UCF Office of Experiential Learning Service Learning Showcase 2012
							%li The Radio Television Digital News Association (RTDNA)
							%li Rowdy Knights
							%li 4EVER KNIGHTS Student Alumni Association
							%li Achieve a College Education Program ACE Day: Bus Captain, Speaker 
							%li Senior Giving Campaign Coordinator
							%li UNA-USA Greater Orlando
							%li Honors Student Philanthropy Council
							%li Diversity Week Presenter
							%li HERO Honors Educational Reach Out Pet Rescue by Judy Volunteer

						%h5 2010-2011 (Freshman)
						%ul 
							%li Knightcast Radio Show Host of “That’s What She Said”
							%li The Burnett Honors College Peer Ambassador
							%li LEAD Scholars
							%li EQUAL at UCF Member
							%li
								Honors Congress 
								%ul 
									%li Director of Housing Affairs
									%li Homecoming Skit Choreographer  
							%li 4EVER KNIGHTS Student Alumni Association
							%li VolunteerUCF Knights Give Back: Harvest Time International       
							%li G.I. Theta Chi 2011               
							%li Junior Achievement Teacher/Mentor        
							%li Green HERO: Green-Up Orlando      
							%li HERO Honors Educational Reach Out Pet Rescue by Judy Volunteer
							%li UCF First Year Academic Scholar
							%li National Society of Collegiate Scholars  (Inductee)
							%li Phi Eta Sigma National Honor Society (Inductee)
							%li Delta Epsilon Iota Academic Honor Society (Inductee)
							%li Florida Academic Scholar Award
							%li Pegasus Gold Scholarship
							%li UCF Dean’s List 
							%li Equal’s Gayla Prom Court
							%li Honors Congress Distinguished Member (2010-2013)

				%article.luck

					.picture
						%img{:src => "rsc/luck.jpg", :alt => "Lucdwin Luck"}/
						%span.caption Lucdwin Luck
					
					.links
						%h3 Lucdwin Luck
						%h4 SGA Vice Presidential Candidate
						%p Luck is a Political Science major with minors in Business, Economic Policy, and Sociology. He transferred to UCF in the Fall of 2012 from Seminole State College of Florida.
						%a{:href => "#bio-luck", :class => "bio-link"} See Luck's Biography
						%a{:href => "#involvement-luck", :class => "involvement-link"} See Luck's Involvement

					.bio#bio-luck
						%p Luck is a Political Science major with minors in Business, Economic Policy, and Sociology. He transferred to UCF in the Fall of 2012 from Seminole State College of Florida. His passion for UCF has significantly grown from his experiences on campus including his work with the Student Government Association, UCF Transfer and Transition Services, and the Mr. UCF Scholarship Pageant. He is a proud member of the Jewish community at UCF, Phi Alpha Delta Pre-Law Fraternity, and a proud brother of Theta Chi Fraternity. After serving for six years in the United States Marine Corps, he has gained a wealth of world and life experience.
						%p He hopes that his experience, knowledge, and passion for cultivating camaraderie among the students will encourage inclusiveness and enhance our collegiate experience. Through serving his country, Luck has the integrity and commitment to serve the student body with competence and excellence. He understands the unparalleled opportunities at UCF that help Knights reach for the stars and fulfill their full potential. Luck’s passion in serving others is founded on the core values of the United States Marine Corps: Honor, Courage, and Commitment. He doesn’t lead for himself, or for a select few, but for everyone, because he understands that UCF starts with YOU, the students!

					.involvement#involvement-luck
						%h5 2013-2014 (Senior)
						%ul
							%li Peer Mentor at Transfer and Transitions Services
							%li Transfer Knights: Member
							%li Secretary of Student Veterans of America
							%li Mr. UCF 1st Runner Up

						%h5 2012-2013 (Junior)
						%ul 
							%li Student Government Association Student Senator
							%li Theta Chi Fraternity Brother
							%li Phi Alpha Delta Pre-law Fraternity Brother
							%li Student Assistant at Veterans Academic Resource Center

						%h5 2011-2012 (Seminole State College of Florida)
						%ul 
							%li President of Phi Beta Lambda
							%li Chair of Seminole State College of Florida Veterans Day Ceremony Committee

						%h5 2008-2010 Marine Coprps Embassy Security Guard
						%ul
							%li 
								%h5 Primary Duties
								%ul 
									%li Provided Diplomatic Security at the US Embassy in Damascus, Syria (2008)
									%li Provided Diplomatic Security at the US Embassy in Brasilia, Brazil (2009)
									%li Provided Diplomatic Security at the US Embassy in Montevideo, Uruguay (April, 2009)
									%li Provided Diplomatic Security at the American Consulate in Jerusalem (2010)
							%li 
								%h5 Collateral Duties
								%ul 
									%li Morale, Welfare, Recreation Non-Commissioned Officer (Syria)
									%li Assistant Detachment Commander (Brazil)
									%li Training Non-Commissioned Officer (Brazil)
									%li Safety Non-Commissioned Officer (Brazil)
									%li Vehicle and Transportation Non-Commissioned Officer (Jerusalem)
									%li Morale, Welfare, Recreation Non-Commissioned Officer (Jerusalem)

						%h5 2005-2007 United States Marine Corps
						%ul
							%li 1st Duty Station: Marine Corps Air Station Futenma Okinawa, Japan
							%li
								%p Aviation Ordnance Technician
								%ul 
									%li Ensured all weapon equipment on aircraft were inspected and maintained properly
							%li 
								%p Material/Maintenance Controller
								%ul 
									%li Maintained records for parts and materials in value of over $100, 000,000.00 US Dollars
									%li Ordered and supplied parts and materials for over 30 aircrafts in the unit
							%li 
								%p Platoon Sergeant
								%ul 
									%li Supervised over 60 Marines to ensuring their training, wellbeing, and morale
							%li 
								%p Deployed on Joint Exercise Foal Eagle Joint with ROK Marines of South Korea
							%li 
								%p Deployed on 31st Marine Expeditionary Unit to the Philippines and Australia



			%section.platform#platform

				%h2 YOUR Platform

				%article.experience
					%a.title{:href => "#"}
						.badge
						%h3 YOUR Experience <span>&#9660;</span>

					.points
						%h4 Academics
						%ul 
							%li Provide SGA support to LEAD Scholars for new 4-year Academy.
							%li Work to extend Library hours.
							%li Assist in Library expansion to ensure the best technology and nurturing space for academic success.
							%li Discuss opportunities for weekend classes.
							%li Improve testing lab access and wait times.
							%li Expand SARC tutoring to areas outside of STEM courses.
							%li Expand the majors and fields of study available for Honors in the Major (HIM) and Honors Interdisciplinary Seminar courses.
							%li Establish university-wide textbook swap for students.
						
						%h4 Regional Campuses
						%ul 
							%li SGA representatives on regional campuses once a month.
							%li Encourage more regional students to run for SGA Senate seats.
							%li Host SGA Days at all regional campuses.
							%li SGA Agencies to host at least one event per semester on a different campus partnered with Student Outreach Services.
							%li Transportation to traditional events including, but not limited to, Spirit Splash, 
							%li Homecoming Game, Universal Knights, major Athletic events.

						%h4 Transfer &amp; Non-Traditional Students
						%ul 
							%li SGA and OSI to host meet-and-greet at transfer orientations.
							%li Enhance Orientation experience for Transfer Students.
							%li Create a transition program for Direct Connect schools to encourage student involvement.
							%li Improve the transition process for transfer students.
							%li Increase acceptance of Transfer and non-Traditional Students to SGA’s typically “Freshmen” mentorship councils.
							%li Host UCF Military Ball to honor ROTC, faculty and staff, student veterans and UCF Alumni.
							%li SGA involvement in UCF Creative School for Children’s Week of the Young Child.

						%h4 Graduate Students
						%ul 
							%li Proper representation for Graduate students in SGA Senate.
							%li Establish stronger line of communication and involvement with Graduate Student Association.  
							%li Advocacy and support for the special needs of graduate students and Graduate Student Center.


				%article.community
					%a.title{:href => "#"}
						.badge 
						%h3 YOUR Community <span>&#9660;</span>

					.points
						%h4 Health
						%ul 
							%li Improve the quality and standards of restaurant and food services on campus.
							%li Ensure availability of special dietary options in dining halls every day.
							%li Create online appointment system for UCF Health Services.
							%li Discuss accessibility of Women's Clinic services on weekends.
							%li RWC Fitness Challenge to reward active Healthy Knights.
							%li Promote new Purple Ribbon program for a healthy place for students.

						%h4 Safety
						%ul 
							%li Establish efficient emergency channel throughout campus between UCF Police and other departments.
							%li Improve and revamp the SEPS program.
							%li Implement plan with administration to provide more lighting on campus.
							%li Create Safety Map and app of emergency services and blue emergency lights.
							%li Promote the continuation of the SGA Safe Ride program.
							%li Ensure function of all handicap accessible doors on campus.
							%li Advocate for increased security for UCF Housing.
							%li Ensure the accessibility of AEDs (Automated External Defibrillators) and safety kits throughout campus.
							%li Advocate for maintenance of elevators throughout campus.
							%li Ensure the security and safety of off-campus, Greek and non-Greek, communities through advocacy with the Police.
							%li Ensure the proper function of all traffic lights and cross-walks on Alafaya.

						%h4 Fraternity and Sorority Life
						%ul
							%li Hold monthly meeting of all council presidents and leadership with SGA representatives.
							%li Hold monthly meeting of Presidents of Professional, Service, and Spiritual Greek organizations with SGA representatives.
							%li Provide increased visibility for Diversified Greek Council in the Student Union.
							%li Host Greek Month to showcase each social council for one week throughout the Student Union.
							%li Advocate for voice and support the visibility of all Greek Councils.
							%li Improve relationships and communication between all areas of the Greek Community.
							%li Encourage attendance of non-Greek students and members of Greek organizations at the philanthropic events of other Greek organizations.
						
						%h4 Diversity
						%ul 
							%li Ensure a safe and inclusive campus environment for all.
							%li Create a campus culture for all Knights to be engaged in SGA.
							%li Promote the use and respect of personal gender pronouns throughout entire UCF community.
							%li Advocate for underrepresented groups and their needs.
							%li Assist Multicultural Student Center with expansion and new infrastructure of program 
							%li Open more gender-neutral bathrooms around campus.
							%li Support the evolution of PrideCo and the sustained use and promotion of Pride Commons for LGBTQ+ visibility.
							%li Establish permanent staff to assist individuals with disabilities using SGA facilities.
							%li Expand SGA Abilities programming for National Disability Awareness Month.


				%article.involve
					%a.title{:href => "#"}
						.badge
						%h3 YOUR Involvement <span>&#9660;</span>

					.points
						%h4 Campus Engagement
						%ul 
							%li Create new SGA Ambassadors program.
							%li Develop mentorship program with prominent student leaders throughout campus. 
							%li Increase SGA presence in SLS classes.
							%li More interaction between SGA and OSI leaders.
							%li "Create Your Knighthood": monthly creative writing, art, and design competitions to showcase student talent.

						%h4 Athletics &amp; Traditions
						%ul 
							%li Increase attendance at all UCF Athletics events.
							%li Provide support for Wayne Densch Center for Student-Athlete Leadership.
							%li Provide RSO reserved seating at Athletic events.
							%li Develop UCF Traditions website with UCF Athletics and all areas of community
							%li Solidify hardcopy and online Traditions Book for website with Traditions Videos
							%li College Cup, competition between UCF’s colleges.
							%li Greek Cup, competition highlighting Greek community through halftime games, recognition, etc.
							%li Student-Athlete meet-and-greets for all  teams.
							%li Concert and “Homecoming-style” event for the Football Spring Game in April.
							%li More road trips through Knightmare Rewards growth.
						
						%h4 Registered Student Organizations
						%ul 
							%li Encourage better communication and interaction between SGA Senators and their RSOs.
							%li Streamline the SGA system and funding process for RSOs.
							%li Increased office/storage space for RSOs.
							%li Facilitate better communication between KoRT and RSO leaders.
							%li Develop an understandable online calendar of all RSO meetings and events through Knight Connect.
							%li Improve KoRT’s capabilities to assist RSOs’ needs.
							%li Increase SGA attendance at RSO events.
							%li Improve the availability and efficiency of room reservations.
							%li Provide efficient online accessibility to applications and forms.
							%li Host consistent monthly “All Presidents” meetings with RSO presidents and SGA Vice President.


				%article.services
					%a.title{:href => "#"}
						.badge 
						%h3 YOUR Services <span>&#9660;</span>

					.points
						%h4 Sustainability
						%ul 
							%li Create a strategic recycling system on campus.
							%li Available recycling areas in off-campus affiliated housing.
							%li Increase support for Green initiatives.
							%li Work with VolunteerUCF to complete Tailgate clean-ups.
							%li Footprint Challenge, eco-living challenge for students and Housing communities to participate in throughout the year.
							%li Outreach to UCF Environmental Studies program.
							%li Maintain the health and cleanliness of ecosystems and facilities of UCF Arboretum, Lake Claire, and Union boardwalks.

						%h4 Technology
						%ul 
							%li Increase accessibility for campus-wide Wi-Fi. 
							%li Increase on-campus housing internet bandwidth.
							%li Advocate for the electronic needs of Computer Science and Engineering organizations.
						
						%h4 Transportation
						%ul 
							%li Set up a KnightLynx bus track to downtown Orlando during the day for student internships.
							%li Improve efficiency of UCF Shuttle tracking app system.
							%li Advocate for more bike racks near buildings and classrooms.

						%h4 Convenience
						%ul 
							%li Establish more power outlets in Student Union and Library.
							%li Provide more charging stations in Student Union. 
							%li Work with Tech Commons to provide access to iPhone and device chargers.
							%li Ensure accessibility and accuracy of Ticket Center hours.


				%article.leadership
					%a.title{:href => "#"}
						.badge 
						%h3 YOUR Leadership <span>&#9660;</span>

					.points
						%h4 Communication
						%ul 
							%li Create SGA Educational documents for “All Presidents" meetings.
							%li Create street team to table in colleges and outside Student Union to engage and inform students of SGA Services and events.
							%li Record and publish “President’s Weekly Address” videos. 
							%li Encourage personal appointments to talk face-to-face with SGA President and Vice President.

						%h4 Transparency
						%ul 
							%li Fiscally responsible and accountable allocations of all fees paid by students.
							%li Expand SGA engagement and interaction with student body.
							%li Continuously keep the SGA website up to date and accurate.
							%li Post SGA meeting schedules and minutes in a timely manner.
							%li Ensure the availability and efficiency of the Livestream for all SGA meetings.
							%li Honesty in the actions and decisions of SGA leaders.
							%li Promote applications, appoint positions and fill vacancies in a timely manner.
							%li Create Do’s and Don’ts of The Golden Rule.

						%h4 Advocacy
						%ul 
							%li Advocate to keep cost of education affordable and prevent further fee increases. 
							%li Develop online complaint system to directly communicate student concerns to SGA leaders.
							%li Encourage new students to enroll in a program seminar of their choice: UCF Cares, Safe Zone, Office of Rights & Responsibilities, Mentors in Violence Prevention, etc.
							%li Support for the importance of Arts and Humanities fields of study. 
							%li Communicate students’ need to the state legislature.
							%li Provide a platform for students’ voices to reach University administration and Board of Trustees.
							%li Promote the use and quality of Student Care Services, Student Legal Services, and the SGA Judicial Branch services.




			%section.support#support

				%h2 Join the Revolution!

				%form{:action => "", :id => "support-form", :enctype => "multipart/form-data" }
					
					%fieldset.basic 
						%p
							%input{:type => "checkbox", :name => "support-check-suggest", :id => "support-check-suggest", :value => "Yes"}/
							%label{:for => "support-check-suggest"} Suggest a Platform Point
						%p
							%input{:type => "checkbox", :name => "support-check-support", :id => "support-check-support", :value => "Yes"}/
							%label{:for => "support-check-support"} Support the Campaign

					%fieldset.suggest
						%p 
							%label{:for => "support-form-suggest"} Your platform suggestion
							%br/ 
							%input{:type => "text", :name => "support-form-suggest", :id => "support-form-suggest"}/

					%fieldset.support
						%p
							%label{:for => "support-form-name"} Your Name <span>*</span>
							%br/ 
							%input{:type => "text", :name => "support-form-name", :id => "support-form-name"}/
						%p
							%label{:for => "support-form-email"} Your E-mail Address <span>*</span>
							%br/ 
							%input{:type => "email", :name => "support-form-email", :id => "support-form-email"}/
						%p
							%label{:for => "support-form-org"} Organization / Affiliation
							%br/ 
							%input{:type => "text", :name => "support-form-org", :id => "support-form-org"}/
						%p 
							%label{:for => "support-form-picture"} Upload your picture (optional)
							%br/ 
							%input{:type => "file", :name => "support-form-picture", :id => "support-form-picture", :accept => "image/*"}/ 
						%p
							%input{:type => "checkbox", :name => "support-check-join", :id => "support-check-join", :value => "Yes"}/
							%label{:for => "support-check-join"} Yes! I'd like to help out with the campaign

					%fieldset.join
						%p
							%label{:for => "support-form-join"} How would you like to help? <span>*</span>
							%input{:type => "text", :name => "support-form-join", :id => "support-form-join"}/

					%fieldset.submit
						%p 
							%input{:type => "submit", :name => "support-form-submit", :id => "support-form-submit", :value => "Support!"}/ 


			%footer
				.closeButton X
				%script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-36353649-3', 'jessicaluck2014.com');ga('send', 'pageview');